@import url('reset.css');

/* ---------------- */
*{
  font-size: 26px;
}
div {
  color: red;
}
a {
  color: green;
}
.header__title.title {
  color: rgb(119, 221, 149);
}
.text {
  color: blue;
}
#l1 {
	color: rgb(196, 173, 153);
}
div.subtitle {
	color: rgb(175, 23, 130);
}
.link-2__title,
.link-3__title {
  color: cyan;
}
.link-1__text p{
  color: rgb(207, 160, 207);
}
.link-2 .link-2__text {
  color: forestgreen;
}
.link-3 *{
  color: rgb(0, 14, 139);
}
.link-4__text p{
  color: darkgoldenrod;
}
.link6-1 > p {
  color: cornsilk;
}
.link6-2 ~ p {
  color: rgb(110, 5, 58);
}
.link6-3 + p {
  color: red;
}