@import url('reset.css');

/* ---------------- */
/*----------------- Підключення шрифтів ----------------------- */

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Poppins:300,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap);


[class*="__container"] {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}
body {
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 12px;
  line-height: 1.66; /* 20/12 */
}
.title {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.6; /* 40/25 */
  color: #F8F9FA;
}

/* ------header------------- */
.header {
  background: url('../img/heager-back.jpg') 0 0/cover no-repeat;
}
.header__container {
  padding-top: 36px;
  padding-bottom: 100px;
  margin-bottom: 50px;
}
.header__header {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.38; /* 25/18 */
  color: #F8F9FA;
  margin-bottom: 269px;
}
.header__main {
}
.header__subtitle {
  color: #E5E5E5;
}
.header__title {
  max-width: 605px;
  margin-bottom: 15px;
}
.header__text {
}
.text p{
  color: #E5E5E5;
}

/* ---------list------------ */
.list {
  padding: 20px 0;
  font-family: "Inter";
}
.list__container {
}
.list__title {
  font-size: 26px;
  line-height: 1.07; /* 28/26 */
  color: #212B36;
  margin-bottom: 45px;
}
.list__items {
}
.list__item {
  margin-bottom: 60px;
}
.list__item li{
  font-weight: 700;
  font-size: 16px;
  color: #637381;
  min-height: 25px;
  margin-bottom: 18px;
}
.list__item-1 li{
  padding-left: 18px;
  background: url('../img/list/1.svg') left no-repeat;
}
.list__item-2 li{
  padding-left: 30px;
  background: url('../img/list/2.svg') left no-repeat;
}
.list__item-3 li{
  padding-left: 30px;
  background: url('../img/list/3.svg') left no-repeat;
}
.list__item-4 li{
  padding-left: 30px;
  background: url('../img/list/4.svg') left no-repeat;
}
.list__item-5 li{
  padding-left: 31px;
  background: url('../img/list/5.svg') left no-repeat;
}
.list__item-6 li{
  padding-left: 28px;
  background: url('../img/list/6.svg') left no-repeat;
}
/* -------footer----------- */
.footer {
  font-family: 'Inter';
  padding-top: 81px;
  padding-bottom: 83px;
  background: url('../img/footer/1.png') right no-repeat, url('../img/footer/2.png') right no-repeat;
}
.footer__container {
  background: url('../img/footer/speaker\ 1.jpg') 79% no-repeat; 
  padding-top: 64px;
  padding-bottom: 64px;
}
.footer__content {
  max-width: 570px;
}
.footer__subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33; /* 24/18 */
  color: #3056D3;
  margin-bottom: 13px;
}
.footer__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.25; /* 45/36 */
  color: #212B36;
  margin-bottom: 15px;
}

.footer__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5; /* 24/16 */
  color: #637381;
  margin-bottom: 35px;
}
.footer__button {
  display: inline-block;
  padding: 10px 30px;
  background: #3056D3;
  border-radius: 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5; /* 24/16 */
  color: #FFFFFF;
}
.footer__button:hover {
  background: #afb8d6;
  transition: all 0.3s;
}